body { 
	margin: 0;
	font-size: 14px;
	line-height: 1.7;
	font-family: 'Lato';
}
a, button {
	cursor: pointer;
}

a {
	text-decoration: none !important;
}
.scroll, carousel-text {
	visibility: hidden;
}
.servi {
	color: #ffca3c;
}

.clean {
	color: #52b6bc;
}

.navbar-light .navbar-toggler {
	color: white;
	border-color: transparent;
	background: transparent !important;
	
}

.section-description {
	font-size: 1rem;
	color: #6f6d6d;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-description.white {
	color: white;
}

.navbar-brand img {
	transition: 0.8s;
}
.navbar-brand:hover img {
	max-width: 116px;
	transition: 0.8s;
}

.hero {
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-col {
	margin-bottom: 30px;
}



.email {
	color: #9d9d9d;
}
.email:hover {
	transition: all 0.5s ease 0s;
    color: #52b6bc !important;
}

.email:hover .at {
	color: #ffca3c; 
	transition: all 0.5s ease 0s;
}

.hero.first {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://preview.ibb.co/ddLsUS/apartment_architecture_carpet_584399.jpg');
}

.hero.second {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://preview.ibb.co/g0MAG7/ashtray_book_condo_298842.jpg');
}

.hero.third {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://preview.ibb.co/k6dkin/apartment_architecture_cabinets_373548.jpg');
}

.contact-us {
	/* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://preview.ibb.co/ieWNW7/kitchen_stove_sink_kitchen_counter_349749.jpg');
}

.contact-us input,
textarea {
	/* background: #369fa5 none repeat scroll 0 0;
    border: medium none; */
	background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: #f1f1f1;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
	margin-right: 10px;
	padding-left: 20px;
	transition: all 0.3s ease-out 0s;
}

.contact-us input,
textarea {
	width: 100%;
}

.contact-us input {
	height: 46px;
}

textarea {
	padding-right: 20px;
}

.margin-in-between {
	margin-bottom: 30px;
}

.scrolled {
	background-color: #49adb3!important;
}

.hero h1 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
	padding-left: 30px;
	padding-right: 30px;
}

.floating-div {
	position: fixed;
	width: 100%;
	padding: 0 100px;
}
.main-nav {
	display: flex;
	justify-content:space-between;
}

.logo-div {
	flex-shrink: 0;
}

img.logo {
	max-height: 100px;
	max-width: 100px;

}

.real-nav {
	display: flex;
	align-items: center;
}

ul.right-nav {
	display: flex;
	margin: 0;
	list-style: none;
	padding: 0;
}

.nav-item { 
	position: relative;
	padding: 0 14px;
}

li a { 
	color: white !important;
	font-size: 14px;
	padding: 30px 0;
	position: relative;
	text-transform: uppercase;
	cursor: pointer;
}

.about-us {
	padding-top: 70px;
	padding-bottom: 70px;
}
#testimonials img{
    width: 150px; 
    height: 150px; 
    margin: 0 auto;
    border-radius: 50%;
}

 #testimonials .section-description {
	 font-size: .9rem;
 }
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
	border-radius: 10px;
	height: 13px;
    width: 13px;
    margin: 5px;
}

#testimonials .carousel-indicators  li {
	border-color: #bfbfbf;
	background-color: white;
}

#testimonials .carousel-indicators li.active {
	border-color: #5db4c0;
    background-color: #5db4c0;
}

#testimonials .carousel-indicators {
    bottom: -35px;
}

.dont-miss-out {
	background: #52b6bc;
	padding-top: 100px;
	padding-bottom: 100px;
	align-items: center;
}

.dont-miss-out .row {
	align-items: center;
}

#services {
	padding-top: 70px;
    padding-bottom: 70px;
}

#services .card .card-title {
	padding-left: 15px;
}

#services .card:hover .card-title {
	transition: .5s;
	color: #52b6bc;
}

#services .card {
	height: 100%;
}

#services .card ul  {
	list-style: none;
}

#services .card ul > li {
	position: relative;
}

#services .card ul > li:hover {
	position: relative;
	transition: .5s;
	color: #52b6bc;
}

#services .card ul > li:hover::before {
	transition: .5s;
	color:#ffca3c;
}

#services .card ul > li::before {
	font-family: Font Awesome\ 5 Free;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 5px;
    left: -20px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
	line-height: 1;
	font-weight: 900;
	color: #52b6bc;
	transition: .5s;
	content: "\f058";
}

.services {
	background: #edf0f2;
}
button,
.quote-btn {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 2px solid #ffffff;
	border-radius: 30px;
	color: #ffffff;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	padding: 14px 46px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

button:hover,
.quote-btn:hover
 {
    background: #fff;
    color: #52b6bc;
}
.dont-miss-out input[type='email'] {
	background: #369fa5 none repeat scroll 0 0;
	border: medium none;
	border-radius: 30px;
	color: #f1f1f1;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	height: 46px;
	margin-right: 10px;
	padding-left: 20px;
	width: 60%;
	transition: all 0.3s ease-out 0s;
}

::-webkit-input-placeholder {
    color:#f1f1f1;
}

::-moz-placeholder {
    color:#f1f1f1;
}

::-ms-placeholder {
    color:#f1f1f1;
}

::placeholder {
    color:#f1f1f1;
}

.section-header {
	font-size: 2.1rem;
}

.section-border-left {
	padding-left: 10px;
}

.section-border-left:before {
	content: "";
    position: absolute;
    height: 35px;
    width: 3px;
    background: #52b6bc;
    left: 15px;
    padding-right: 1px;
    top: 5px;
}

input:focus, button:focus {
	outline: none;
} 

.dont-miss-out {
	align-items: center;
	color:#f1f1f1;
}

.dont-miss-out h2 {
	font-size: 2.1rem;
}

.dont-miss-out .deals-text {
	font-size: 1.1rem;
	margin-bottom: 30px;
}

#faq .card {
	border: 0 !important;
}

#faq .card-header {
	background-color: white;
}

.btn-link {
	text-decoration: none !important;
	color: #9d9d9d;
	white-space: initial !important;
	text-align: left;
	transition: .8s;
}

.btn-link:hover {
	text-decoration: none !important;
	color: #52b6bc !important;
	transition: .8s;
}

.fas.fa-plus {
	color: #52b6bc;
}

[data-toggle="collapse"] .fas:before{   
	content: "\f068";
	color:#ffca3c;
	transition: .5s;
}
  
[data-toggle="collapse"].collapsed .fas:before {
	content: "\f067";
	color: #52b6bc;
	transition: .5s;
}

.btn-link:hover .fas:before {
	color:#ffca3c;
	transition: .5s;
}

footer {
	margin-top: 100px;
	margin-bottom: 20px;
}


footer a.social {
	  border-radius: 50px;
    color: #9a9a9a;
    display: inline-block;
    font-size: 1.8rem;
    height: 50px;
    line-height: 45px;
    margin-right: 5px;
    text-align: center;
    width: 50px;
    background: #edf0f2;
	cursor: pointer;
}
footer .company-description {
	color: #9d9d9d;
}
footer .fab {
	color: #52b6bc;
}
footer .fab:hover,
footer a.link:hover span.at,
footer a.link:hover span.area-code,
footer a.link:hover i.fas,
footer .social:hover .fab 
{
	transition: all 0.3s ease 0s;
	color: #ffca3c;
}

span.at,
span.area-code{
	color: #52b6bc;
}

footer a.link {
	color: #9d9d9d;
}
footer a.link:hover {
	transition: all 0.3s ease 0s;
	color: #52b6bc !important;
}

footer .fas {
	font-size: 26px;
	color: #52b6bc;
	padding-right: 8px;
}

footer .contact-email {
	padding-bottom: 15px;
	padding-top: 5px;
}

footer .contact-val {
	color: #9d9d9d;
}

footer .contact-val .link {
	display: flex;
	align-items:center;
}

/* MD */
@media (max-width: 992px) {
	li > a:before {
		top: -1px;

	}
	.contact-us input,
	textarea {
		width: 90%;
	}
	.nav-link {
		color: black;
	}
	h1 {
		font-size: 3rem !important;
	}

	h2 {
		font-size: 1.5rem;
	}
}

/* Phone */
@media (max-width: 992px) {
	
	.mobile-spacing-5 {
		margin-bottom: 30px;
	}
	.dont-miss-out button {
		margin-top: 30px;
	}

	.contact-us input {
		margin-bottom: 30px;
	}

}

@media (min-width: 992px) { 
	li > a:before {
		content: "";
		width: 0;
		height: 2px;
		background: #ffca3c;
		position: absolute;
		top: -20px;
		transition: 0.5s;
	
	}
	
	li:hover > a:before {
		width: 100%;
	}
}